<html>
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="../stylesheets/login.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>
    <body background="grey">
	    <div class="container">
	    	<h1>Bienvenido</h1>
	    	<h3>Estos son los usuarios del sistema</h3>

			<table id="results" class="table table-striped">
				<th>Username</th>
				<th>Nombre</th>
				<th>Apellidos</th>
				<th>Email</th>
				<th>Rol</th>
			</table>
			<button class="btn btn-danger" onclick="logout()">Logout</button>
			<script src="../js/welcome.js"></script>
		</div>
	</body>
</html>
